<form action="/copy" method="post">
  <fieldset>
    <legend>Copy File</legend>
    <label for="file_basename">Filename: </label>
    <input name="file_basename" value="<%= @file_basename %>" />
    <%= @file_ext %>
    <input type="hidden" name="file_ext" value="<%= @file_ext %>" />
    <input type="hidden" name="file_location" value="<%= @file_location %>" />
    <br><br>
    <button type="submit">Duplicate</button>
  </fieldset>
</form>
