<form method="post" action="/upload" enctype="multipart/form-data">
  <label for="image">Choose an image to upload</label>
  <input type="file" name="image" accept="image/*" >
  <button type="submit">Upload</button>
</form>
